Jupyter Notebook|
python          |
[               |
scikit-learn    | To write code
nltk            |
pandas          |
]               |
VScode          |
streamlit       * Deployment
Github Account  *
